altgraph==0.17
click==7.1.2
future==0.18.2
numpy==1.21.0
pefile==2019.4.18
Pillow==7.2.0
plyer==1.4.3
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.9
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.0.1
PyQt5-sip==12.8.1
pyqt5-tools==5.15.2.3
PySide2==5.15.2
PySimpleGUI==4.45.0
python-dotenv==0.15.0
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
QtPy==1.9.0
rethinkdb==2.4.7
shiboken2==5.15.2
six==1.15.0
websockets==9.1
